<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- <div class="center">DK Coding Challenge</div> -->
<div class=title>
  <h1>DK Coding Challenge</h1>
</div>
<div class="row container center">
  <div class="column">
    <h2>Operation 1</h2>
    <div class="dropdown">Data
      <select name="data" [(ngModel)]="op1Data">
        <option value="ax">ax</option>
        <option value="ay">ay</option>
        <option value="az">az</option>
        <option value="wx">wx</option>
        <option value="wy">wy</option>
        <option value="wz">wz</option>
      </select>
    </div>
    <div style="columns: md -1px;">
       IndexBegin
      <input type="text" [(ngModel)]="op1IndexBegin"/>
    </div>
    <div style="columns: md -1px;">
      IndexEnd
      <input type="text" [(ngModel)]="op1IndexEnd"/>
    </div>
    <div style="columns: md -1px;">
      Threshold
      <input type="text" [(ngModel)]="op1Threshold"/>
    </div>
    <div style="columns: md -1px;">
      WinLength
      <input type="text" [(ngModel)]="op1WinLength"/>
    </div>
    <button (click)="operation1();">Operation 1</button>
    <div>Operation 1 Result:
      <b>{{res1}}</b>
    </div>
  </div>

  <div class="column">
    <h2>Operation 2</h2>
    <div class="dropdown">Data
      <select name="data" [(ngModel)]="op2Data">
        <option value="ax">ax</option>
        <option value="ay">ay</option>
        <option value="az">az</option>
        <option value="wx">wx</option>
        <option value="wy">wy</option>
        <option value="wz">wz</option>
      </select>
    </div>
    <div style="columns: md -1px;">
      IndexBegin
      <input type="text" [(ngModel)]="op2IndexBegin"/>
    </div>
    <div style="columns: md -1px;">
      IndexEnd
      <input type="text" [(ngModel)]="op2IndexEnd"/>
    </div>
    <div style="columns: md -1px;">
      Threshold1
      <input type="text" [(ngModel)]="op2ThresholdLo"/>
    </div>
    <div style="columns: md -1px;">
      Threshold2
      <input type="text" [(ngModel)]="op2ThresholdHi"/>
    </div>
    <div style="columns: md -1px;">
      WinLength
      <input type="text" [(ngModel)]="op2WinLength"/>
    </div>
    <button (click)="operation2();">Operation 2</button>
    <div>Operation 2 Result: 
      <b>{{res2}}</b>
    </div>
  </div>

  <div class="column">
    <h2>Operation 3</h2>
    <div class="dropdown">Data1
      <select name="data1" [(ngModel)]="op3Data1">
        <option value="ax">ax</option>
        <option value="ay">ay</option>
        <option value="az">az</option>
        <option value="wx">wx</option>
        <option value="wy">wy</option>
        <option value="wz">wz</option>
      </select>
    </div>
    <div class="dropdown">Data2
      <select name="data2" [(ngModel)]="op3Data2">
        <option value="ax">ax</option>
        <option value="ay">ay</option>
        <option value="az">az</option>
        <option value="wx">wx</option>
        <option value="wy">wy</option>
        <option value="wz">wz</option>
      </select>
    </div>
    <div style="columns: md -1px;">
      IndexBegin
      <input type="text" [(ngModel)]="op3IndexBegin"/>
    </div>
    <div style="columns: md -1px;">
      IndexEnd
      <input type="text" [(ngModel)]="op3IndexEnd"/>
    </div>
    <div style="columns: md -1px;">
      Threshold1
      <input type="text" [(ngModel)]="op3Threshold1"/>
    </div>
    <div style="columns: md -1px;">
      Threshold2
      <input type="text" [(ngModel)]="op3Threshold2"/>
    </div>
    <div style="columns: md -1px;">
      WinLength
      <input type="text" [(ngModel)]="op3WinLength"/>
    </div>
    <button (click)="operation3();">Operation 3</button>
    <div>Operation 3 Result:
      <b>{{res3}}</b>
    </div>
  </div>

  <div class="column">
    <h2>Operation 4</h2>
    <div class="dropdown">Data
      <select name="data" [(ngModel)]="op4Data">
        <option value="ax">ax</option>
        <option value="ay">ay</option>
        <option value="az">az</option>
        <option value="wx">wx</option>
        <option value="wy">wy</option>
        <option value="wz">wz</option>
      </select>
    </div>
    <div style="columns: md -1px;">
      IndexBegin
      <input type="text" [(ngModel)]="op4IndexBegin"/>
    </div>
    <div style="columns: md -1px;">
      IndexEnd
      <input type="text" [(ngModel)]="op4IndexEnd"/>
    </div>
    <div style="columns: md -1px;">
      Threshold1
      <input type="text" [(ngModel)]="op4ThresholdLo"/>
    </div>
    <div style="columns: md -1px;">
      Threshold2
      <input type="text" [(ngModel)]="op4ThresholdHi"/>
    </div>
    <div style="columns: md -1px;">
      WinLength
      <input type="text" [(ngModel)]="op4WinLength"/>
    </div>
    <button (click)="operation4();">Operation 4</button>
    <div>Operation 4 Result: 
      <b>{{res4}}</b>
    </div>
  </div>
  
</div>